<!-- Header -->
<header id="js-header" class="u-header u-header--static">
  <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
    <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
      <div class="container">
        <!-- Responsive Toggle Button -->
        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button"
          aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
          <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Logo -->
        <a href="../../index.html" class="navbar-brand">
          <img src="../../assets/img/logo/logo-1.png" alt="Image Description">
        </a>
        <!-- End Logo -->

        <!-- Navigation -->
        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
          <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
            <!-- Intro -->
            <li class="nav-item  g-mx-10--lg g-mx-15--xl">
              <a routerLink="/profile" class="nav-link g-py-7 g-px-0">Profile</a>
            </li>
            <!-- End Intro -->

            <!-- Home -->
            <li class="hs-has-mega-menu nav-item active g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut"
              data-max-width="60%" data-position="left">
              <a id="mega-menu-home" class="nav-link g-py-7 g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">Home
                <i class="hs-icon hs-icon-arrow-bottom g-font-size-11 g-ml-7"></i>
              </a>

              <!-- Mega Menu -->
              <div class="w-100 hs-mega-menu u-shadow-v11 font-weight-normal g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-mt-18 g-mt-8--lg--scrolling"
                aria-labelledby="mega-menu-home">
                <div class="row align-items-stretch no-gutters">
                  <!-- Home (col) -->
                  <div class="col-lg-6">
                    <ul class="list-unstyled">
                      <li class="dropdown-item active">
                        <a href="../../unify-main/home/home-default.html" class="nav-link">Home Default</a>
                      </li>
                      <li class="dropdown-item ">
                        <a href="../../unify-main/home/home-page-1.html" class="nav-link">Home 1</a>
                      </li>
                    </ul>
                  </div>
                  <!-- End Home (col) -->

                  <!-- Home (col) -->
                  <div class="col-lg-6 g-brd-left--lg g-brd-gray-light-v5">
                    <ul class="list-unstyled">
                      <li class="dropdown-item ">
                        <a href="../../unify-main/home/home-page-8.html" class="nav-link">Home 8</a>
                      </li>
                      <li class="dropdown-item ">
                        <a href="../../unify-main/home/home-page-9.html" class="nav-link">Home 9</a>
                      </li>
                    </ul>
                  </div>
                  <!-- End Home (col) -->
                </div>
              </div>
              <!-- End Mega Menu -->
            </li>
            <!-- End Home -->

            <!-- Pages -->
            <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
              <a id="nav-link-pages" class="nav-link g-py-7 g-px-0" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu-pages">Pages</a>

              <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling"
                id="nav-submenu-pages" aria-labelledby="nav-link-pages">
                <!-- Pages - About -->
                <li class="dropdown-item hs-has-sub-menu ">
                  <a id="nav-link--pages--about" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--about">About</a>

                  <!-- Submenu (level 2) -->
                  <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--about"
                    aria-labelledby="nav-link--pages--about">
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/pages/page-about-1.html">About 1</a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/pages/page-about-2.html">About 2</a>
                    </li>
                    <li class="dropdown-divider"></li>

                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/pages/page-about-me-1.html">About me 1</a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/pages/page-about-me-2.html">About me 2</a>
                    </li>
                  </ul>
                  <!-- End Submenu (level 2) -->
                </li>
                <!-- End Pages - About -->

                <!-- Pages - Services -->
                <li class="dropdown-item hs-has-sub-menu ">
                  <a id="nav-link--pages--services" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--services">Services</a>

                  <!-- Submenu (level 2) -->
                  <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--services"
                    aria-labelledby="nav-link--pages--services">
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/pages/page-services-1.html">Services 1</a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/pages/page-services-2.html">Services 2</a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/pages/page-services-3.html">Services 3</a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/pages/page-services-4.html">Services 4</a>
                    </li>
                  </ul>
                  <!-- End Submenu (level 2) -->
                </li>
                <!-- End Pages - Services -->



                <!-- Pages - Pricing -->
                <li class="dropdown-item ">
                  <a class="nav-link" href="../../unify-main/pages/page-pricing-1.html">Pricing</a>
                </li>
                <!-- End Pages - Pricing -->

                <!-- Pages - FAQ -->
                <li class="dropdown-item hs-has-sub-menu ">
                  <a id="nav-link--pages--faq" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--faq">FAQ</a>

                  <!-- Submenu (level 2) -->
                  <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--faq"
                    aria-labelledby="nav-link--pages--faq">
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/pages/page-faq-1.html">FAQ 1</a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/pages/page-faq-2.html">FAQ 2</a>
                    </li>
                  </ul>
                  <!-- End Submenu (level 2) -->
                </li>
                <!-- End Pages - FAQ -->

                <!-- Pages - Others -->
                <li class="dropdown-item hs-has-sub-menu ">
                  <a id="nav-link--pages--others" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--others">Others</a>

                  <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--others"
                    aria-labelledby="nav-link--pages--others">
                    <!-- Clients -->
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/pages/page-clients-1.html">Clients</a>
                    </li>
                    <!-- End Clients -->

                    <!-- 404 -->
                    <li class="dropdown-item hs-has-sub-menu ">
                      <a id="nav-link--pages--404" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--404">404</a>

                      <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2 " id="nav-submenu--pages--404"
                        aria-labelledby="nav-link--pages--404">
                        <li class="dropdown-item ">
                          <a class="nav-link" href="../../specialty-pages/404/404-1.html">404 1</a>
                        </li>
                        <li class="dropdown-item ">
                          <a class="nav-link" href="../../specialty-pages/404/404-2.html">404 2</a>
                        </li>
                      </ul>
                    </li>
                    <!-- End 404 -->
                  </ul>
                </li>
                <!-- End Pages - Others -->
              </ul>
            </li>
            <!-- End Pages -->

            <!-- Blog -->
            <li class="nav-item hs-has-sub-menu  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
              <a id="nav-link--blog" class="nav-link g-py-7 g-px-0" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--blog">Blog</a>

              <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling"
                id="nav-submenu--blog" aria-labelledby="nav-link--blog">
                <!-- Blog - Minimal -->
                <li class="dropdown-item hs-has-sub-menu ">
                  <a id="nav-link--pages--blog--minimal" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--blog--minimal">Minimal</a>

                  <!-- Submenu (level 2) -->
                  <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--blog--minimal"
                    aria-labelledby="nav-link--pages--blog--minimal">
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/blog/blog-minimal-1.html">Minimal 1</a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/blog/blog-minimal-1-left-sidebar.html">Minimal 1
                        <span class="g-opacity-0_5">(left sidebar)</span>
                      </a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/blog/blog-minimal-1-right-sidebar.html">Minimal 1
                        <span class="g-opacity-0_5">(right sidebar)</span>
                      </a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/blog/blog-minimal-2.html">Minimal 2</a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/blog/blog-minimal-2-left-sidebar.html">Minimal 2
                        <span class="g-opacity-0_5">(left sidebar)</span>
                      </a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/blog/blog-minimal-2-right-sidebar.html">Minimal 2
                        <span class="g-opacity-0_5">(right sidebar)</span>
                      </a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/blog/blog-minimal-3.html">Minimal 3</a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/blog/blog-minimal-3-left-sidebar.html">Minimal 3
                        <span class="g-opacity-0_5">(left sidebar)</span>
                      </a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/blog/blog-minimal-3-right-sidebar.html">Minimal 3
                        <span class="g-opacity-0_5">(right sidebar)</span>
                      </a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/blog/blog-minimal-4.html">Minimal 4</a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/blog/blog-minimal-4-left-sidebar.html">Minimal 4
                        <span class="g-opacity-0_5">(left sidebar)</span>
                      </a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/blog/blog-minimal-4-right-sidebar.html">Minimal 4
                        <span class="g-opacity-0_5">(right sidebar)</span>
                      </a>
                    </li>
                  </ul>
                  <!-- End Submenu (level 2) -->
                </li>
                <!-- End Blog - Minimal -->

                <!-- Blog - Grid Background -->
                <li class="dropdown-item hs-has-sub-menu ">
                  <a id="nav-link--pages--blog--grid-bg" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--blog--grid-bg">Grid Background</a>

                  <!-- Submenu (level 2) -->
                  <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--blog--grid-bg"
                    aria-labelledby="nav-link--pages--blog--grid-bg">
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/blog/blog-grid-background-overlay-2.html">Column 2</a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/blog/blog-grid-background-overlay-left-sidebar.html">Column 2
                        <span class="g-opacity-0_5">(left sidebar)</span>
                      </a>
                    </li>
                  </ul>
                  <!-- End Submenu (level 2) -->
                </li>
                <!-- End Blog - Grid Background -->

                <!-- Blog - Grid Classic -->
                <li class="dropdown-item hs-has-sub-menu ">
                  <a id="nav-link--pages--blog--grid-classic" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--blog--grid-classic">Grid Classic</a>

                  <!-- Submenu (level 2) -->
                  <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--blog--grid-classic"
                    aria-labelledby="nav-link--pages--blog--grid-classic">
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/blog/blog-grid-classic-2.html">Column 2</a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../unify-main/blog/blog-grid-classic-left-sidebar.html">Column 2
                        <span class="g-opacity-0_5">(left sidebar)</span>
                      </a>
                    </li>
                  </ul>
                  <!-- End Submenu (level 2) -->
                </li>
                <!-- End Blog - Grid Classic -->
              </ul>
            </li>
            <!-- End Blog -->


            <!-- Shortcodes -->
            <li class="nav-item  g-mx-10--lg g-mx-15--xl">
              <a href="../../unify-main/shortcodes/index.html" class="nav-link g-py-7 g-px-0">Shortcodes</a>
            </li>
            <!-- End Shortcodes -->

            <!-- Demos -->
            <li class="nav-item hs-has-sub-menu  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
              <a id="nav-link-demos" class="nav-link g-py-7 g-px-0" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu-demos">Demos</a>

              <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling"
                id="nav-submenu-demos" aria-labelledby="nav-link-demos">
                <!-- Demos - One Pages -->
                <li class="dropdown-item hs-has-sub-menu ">
                  <a id="nav-link--demos--one-page" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--demos--one-page">One Pages</a>

                  <ul class="hs-sub-menu list-unstyled u-shadow-v11 u-dropdown-col-2 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2 hs-reversed"
                    id="nav-submenu--demos--one-page" aria-labelledby="nav-link--demos--one-page">
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../one-pages/accounting/index.html" target="_blank">Accounting</a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../one-pages/agency/index.html" target="_blank">Agency</a>
                    </li>
                  </ul>
                </li>
                <!-- End Demos - One Pages -->

                <!-- Demos - E-Commerce -->
                <li class="dropdown-item ">
                  <a class="nav-link" href="../../e-commerce/home-page-1.html" target="_blank">E-Commerce
                    <span class="g-opacity-0_5">(44 Pages)</span>
                  </a>
                </li>
                <!-- End Demos - E-Commerce -->

                <!-- Demos - Multi Pages -->
                <li class="dropdown-item hs-has-sub-menu ">
                  <a id="nav-link--demos--blog-magazine" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--demos--blog-magazine">Multi Pages</a>

                  <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2 hs-reversed"
                    id="nav-submenu--demos--blog-magazine" aria-labelledby="nav-link--demos--blog-magazine">
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../multipage/real-estate/home-page-1.html" target="_blank">Real Estate
                        <span class="u-label g-rounded-3 g-font-size-10 g-bg-lightred g-py-3 g-pos-rel g-top-minus-1 g-ml-5">New</span>
                      </a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="../../multipage/marketing/home-page-1.html" target="_blank">Marketing
                        <span class="u-label g-rounded-3 g-font-size-10 g-bg-lightred g-py-3 g-pos-rel g-top-minus-1 g-ml-5">New</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!-- End Demos - Multi Pages -->
              </ul>
            </li>
            <!-- End Demos -->
          </ul>
        </div>
        <!-- End Navigation -->

        <div class="d-inline-block g-hidden-xs-down g-pos-rel g-valign-middle g-pl-30 g-pl-0--lg">
          <a class="btn u-btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15" href="https://wrapbootstrap.com/theme/unify-responsive-website-template-WB0412697?ref=htmlstream"
            target="_blank">Purchase now</a>
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- End Header -->



<!-- /.container-fluid -->
<div *ngIf=isDataLoaded>{{objects[0].message}}
</div>
<app-profile-main></app-profile-main>
