<!-- Header -->
<header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance" data-header-fix-moment="300">

  <!-- Top Bar -->
  <div class="u-header__section u-header__section--hidden u-header__section--dark g-bg-black g-py-13">
    <div class="container">
      <div class="row flex-column flex-md-row align-items-center justify-content-between text-uppercase g-color-white g-font-size-11 g-mx-minus-15">
        <!-- Responsive Toggle Button -->
        <button class="g-hidden-md-up d-block btn btn-xs u-btn-primary g-brd-none g-line-height-1 mx-auto" type="button" aria-controls="dropdown-megamenu"
          aria-expanded="false" aria-label="Toggle navigation" data-toggle="collapse" data-target="#dropdown-megamenu">
          <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="hamburger-inner g-bg-white"></span>
            </span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <div class="col-auto g-px-15 w-100 g-width-auto--md">
          <ul id="dropdown-megamenu" class="d-md-block collapse list-inline g-line-height-1 g-mx-minus-4 mb-0">
            <li class="d-block d-md-inline-block g-mx-4">
              <time datetime="2017-01-01">Sun, Jan 1st 2017</time>
            </li>
            <li class="d-block g-hidden-md-down d-md-inline-block g-mx-4">|</li>
            <li class="d-block d-md-inline-block g-mx-4">
              <a href="#!" class="g-color-white g-color-primary--hover g-text-underline--none--hover">Contact</a>
            </li>
            <li class="d-block g-hidden-md-down d-md-inline-block g-mx-4">|</li>
            <li class="d-block d-md-inline-block g-mx-4">
              <a href="#!" class="g-color-white g-color-primary--hover g-text-underline--none--hover">Forums</a>
            </li>
            <li class="d-block g-hidden-md-down d-md-inline-block g-mx-4">|</li>
            <li class="hs-has-sub-menu d-block d-md-inline-block g-pos-rel g-mx-4">
              <a href="#!" id="dropdown-invoker-3" class="g-color-white g-color-primary--hover g-text-underline--none--hover" aria-haspopup="true"
                aria-expanded="false" aria-controls="dropdown-3">Dropdown
              </a>
              <ul id="dropdown-3" class="hs-sub-menu list-unstyled g-bg-gray-dark-v1 g-py-10 g-px-20 g-mt-13" aria-labelledby="dropdown-invoker-3">
                <li class="g-py-10">
                  <a href="#!" class="d-block g-text-underline--none--hover g-color-white g-color-primary--hover">Dropdown Item</a>
                </li>
                <li class="g-py-10">
                  <a href="#!" class="d-block g-text-underline--none--hover g-color-white g-color-primary--hover">Dropdown Item</a>
                </li>
                <li class="hs-has-sub-menu g-py-10">
                  <a href="#!" id="dropdown-invoker-4" class="d-block g-text-underline--none--hover g-color-white g-color-primary--hover" aria-haspopup="true"
                    aria-expanded="false" aria-controls="dropdown-4">Dropdown Item
                  </a>
                  <ul id="dropdown-4" class="hs-sub-menu list-unstyled g-bg-gray-dark-v1 g-py-10 g-px-20" aria-labelledby="dropdown-invoker-4">
                    <li class="g-py-10">
                      <a href="#!" class="d-block g-text-underline--none--hover g-color-white g-color-primary--hover">Dropdown Item</a>
                    </li>
                    <li class="g-py-10">
                      <a href="#!" class="d-block g-text-underline--none--hover g-color-white g-color-primary--hover">Dropdown Item</a>
                    </li>
                    <li class="hs-has-sub-menu g-py-10">
                      <a href="#!" id="dropdown-invoker-5" class="d-block g-text-underline--none--hover g-color-white g-color-primary--hover" aria-haspopup="true"
                        aria-expanded="false" aria-controls="dropdown-5">Dropdown Item
                      </a>
                      <ul id="dropdown-5" class="hs-sub-menu list-unstyled g-bg-gray-dark-v1 g-py-10 g-px-20" aria-labelledby="dropdown-invoker-5">
                        <li class="g-py-10">
                          <a href="#!" class="d-block g-text-underline--none--hover g-color-white g-color-primary--hover">Dropdown Item</a>
                        </li>
                        <li class="g-py-10">
                          <a href="#!" class="d-block g-text-underline--none--hover g-color-white g-color-primary--hover">Dropdown Item</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="col-auto g-px-15">
          <ul class="list-inline g-line-height-1 g-mt-minus-10 g-mx-minus-4 mb-0">
            <li class="list-inline-item g-mx-4 g-mt-10">
              <a href="#!" class="g-color-white g-color-primary--hover g-text-underline--none--hover">Login</a>
            </li>
            <li class="list-inline-item g-mx-4 g-mt-10">|</li>
            <li class="list-inline-item g-mx-4 g-mt-10">
              <a href="#!" class="g-color-white g-color-primary--hover g-text-underline--none--hover">Register</a>
            </li>
            <li class="list-inline-item g-mx-4 g-mt-10">
              <!-- Search -->
              <div class="g-pos-rel">
                <a href="#!" class="g-font-size-14 g-color-white g-color-primary--hover g-ml-5" aria-haspopup="true" aria-expanded="false"
                  aria-controls="searchform-6" data-dropdown-target="#searchform-6" data-dropdown-type="css-animation" data-dropdown-duration="300"
                  data-dropdown-animation-in="fadeInUp" data-dropdown-animation-out="fadeOutDown">
                  <i class="fa fa-search"></i>
                </a>

                <!-- Search Form -->
                <form id="searchform-6" class="u-searchform-v1 g-bg-black g-box-shadow-none g-pa-10 g-mt-10">
                  <div class="input-group g-brd-primary--focus">
                    <input class="form-control rounded-0 u-form-control g-brd-white" type="search" placeholder="Enter Your Search Here...">
                    <div class="input-group-addon p-0">
                      <button class="btn rounded-0 btn-primary btn-md g-font-size-14 g-px-18" type="submit">Go</button>
                    </div>
                  </div>
                </form>
                <!-- End Search Form -->
              </div>
              <!-- End Search -->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Top Bar -->


  <div class="u-header__section u-header__section--dark g-bg-black-opacity-0_4 g-transition-0_3 g-py-10" data-header-fix-moment-exclude="g-bg-black-opacity-0_4 g-py-10"
    data-header-fix-moment-classes="g-bg-black-opacity-0_7 g-py-0">
    <nav class="js-mega-menu navbar navbar-expand-lg">
      <div class="container">
        <!-- Responsive Toggle Button -->
        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button"
          aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
          <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Logo -->
        <a href="../../../index.html" class="navbar-brand">
          <img src="../../../assets/img/logo/logo-1.png" alt="Image Description">
        </a>
        <!-- End Logo -->

        <!-- Navigation -->
        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
          <ul class="navbar-nav ml-auto text-uppercase g-font-weight-600 u-main-nav-v2 u-sub-menu-v2">
            <li class="nav-item g-mx-2--md g-mx-5--xl g-mb-5 g-mb-0--lg">
              <a href="#!" class="nav-link">Home

              </a>
            </li>
            <li class="nav-item hs-has-sub-menu g-mx-2--md g-mx-5--xl g-mb-5 g-mb-0--lg">
              <a href="#!" class="nav-link" id="nav-link-1" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu-1">Pages

              </a>
              <!-- Submenu -->
              <ul class="hs-sub-menu list-unstyled g-mt-17--lg g-mt-7--lg--scrolling" id="nav-submenu-1" aria-labelledby="nav-link-1">
                <li>
                  <a href="#!">Page 1</a>
                </li>
                <li class="active hs-has-sub-menu">
                  <a href="#!" id="nav-link-2" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu-2">Page 2</a>
                  <!-- Submenu (level 2) -->
                  <ul class="hs-sub-menu list-unstyled" id="nav-submenu-2" aria-labelledby="nav-link-2">
                    <li class="dropdown-item active">
                      <a href="#!">Page 2-1</a>
                    </li>
                    <li class="dropdown-item">
                      <a href="#!">Page 2-2</a>
                    </li>
                    <li class="dropdown-item">
                      <a href="#!">Page 2-3</a>
                    </li>
                    <li class="dropdown-item">
                      <a href="#!">Page 2-4</a>
                    </li>
                    <li class="dropdown-item">
                      <a href="#!">Page 2-5</a>
                    </li>
                  </ul>
                  <!-- End Submenu (level 2) -->
                </li>
                <li>
                  <a href="#!">Page 3</a>
                </li>
                <li>
                  <a href="#!">Page 4</a>
                </li>
                <li>
                  <a href="#!">Page 5</a>
                </li>
                <li>
                  <a href="#!">Page 6</a>
                </li>
                <li>
                  <a href="#!">Page 7</a>
                </li>
              </ul>
              <!-- End Submenu -->
            </li>
            <li class="nav-item g-mx-2--md g-mx-5--xl g-mb-5 g-mb-0--lg">
              <a href="#!" class="nav-link">Features

              </a>
            </li>
            <li class="nav-item g-mx-2--md g-mx-5--xl g-mb-5 g-mb-0--lg active">
              <a href="#!" class="nav-link">Shortcodes
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item g-mx-2--md g-mx-5--xl g-mb-5 g-mb-0--lg">
              <a href="#!" class="nav-link">Demos

              </a>
            </li>
            <li class="nav-item g-mx-2--md g-mx-5--xl g-mb-5 g-mb-0--lg">
              <a href="#!" class="nav-link">What's New

              </a>
            </li>
          </ul>
        </div>
        <!-- End Navigation -->
      </div>
    </nav>

  </div>
</header>
<!-- End Header -->

<!-- Projects -->
<section id="projects-section" class="container g-py-100">
  <div class="text-center g-mb-50">
    <h2 class="h1 g-color-black g-font-weight-600">Branding Projects</h2>
    <p class="lead">This is where we begin to visualize your napkin sketches and make them into pixels.</p>
  </div>

  <div class="row no-gutters g-mx-minus-10">
    <div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
      <!-- Projects -->
      <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-purple--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
        <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="../../../assets/img-temp/425x250/img1.png" alt="Image Description">
        <span class="g-font-weight-600 g-font-size-12 text-uppercase">Mockups</span>
        <h3 class="h4 g-font-weight-600 mb-0">Kitchen Tools</h3>
        <a class="u-link-v2" href="#!"></a>
      </div>
      <!-- End Projects -->
    </div>

    <div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
      <!-- Projects -->
      <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-cyan--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
        <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="../../../assets/img-temp/425x250/img2.png" alt="Image Description">
        <span class="g-font-weight-600 g-font-size-12 text-uppercase">Others</span>
        <h3 class="h4 g-font-weight-600 mb-0">Brochure</h3>
        <a class="u-link-v2" href="#!"></a>
      </div>
      <!-- End Projects -->
    </div>

    <div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
      <!-- Projects -->
      <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-teal--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
        <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="../../../assets/img-temp/425x250/img3.png" alt="Image Description">
        <span class="g-font-weight-600 g-font-size-12 text-uppercase">Hi-Tech</span>
        <h3 class="h4 g-font-weight-600 mb-0">MacBook Pro</h3>
        <a class="u-link-v2" href="#!"></a>
      </div>
      <!-- End Projects -->
    </div>

    <div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
      <!-- Projects -->
      <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-lightred--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
        <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="../../../assets/img-temp/425x250/img4.png" alt="Image Description">
        <span class="g-font-weight-600 g-font-size-12 text-uppercase">Hi-tech</span>
        <h3 class="h4 g-font-weight-600 mb-0">Latest VR product</h3>
        <a class="u-link-v2" href="#!"></a>
      </div>
      <!-- End Projects -->
    </div>

    <div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
      <!-- Projects -->
      <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-primary--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
        <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="../../../assets/img-temp/425x250/img5.png" alt="Image Description">
        <span class="g-font-weight-600 g-font-size-12 text-uppercase">Others</span>
        <h3 class="h4 g-font-weight-600 mb-0">Brochure</h3>
        <a class="u-link-v2" href="#!"></a>
      </div>
      <!-- End Projects -->
    </div>

    <div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
      <!-- Projects -->
      <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-pink--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
        <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="../../../assets/img-temp/425x250/img6.png" alt="Image Description">
        <span class="g-font-weight-600 g-font-size-12 text-uppercase">Cosmetics</span>
        <h3 class="h4 g-font-weight-600 mb-0">Spa Cosmetics</h3>
        <a class="u-link-v2" href="#!"></a>
      </div>
      <!-- End Projects -->
    </div>
  </div>
</section>
<!-- End Projects -->



<!-- /.container-fluid -->
<div *ngIf=isDataLoaded>{{objects[0].message}}
</div>
<app-profile-main></app-profile-main>
